.title-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 20px;
  font-size: 1.5em;
  margin-bottom: 10px;
  min-width: 500px;
}
.filter-container {
  padding-top: 1rem;
}
input[type="text"] {
  background-color: #fff;
  color: #1d1d1d;
  padding: 7px 22px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  outline: transparent;
}
input[type="date"] {
  appearance: none;
  color: #1d1d1d;
  font-size: 18px;
  background-color: #fff;
  padding: 7px 22px;
  border-radius: 5px;
  outline: transparent;
}
button {
  border: none;
  color: white;
  padding: 10px 22px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
}
.dropdown-container {
  display: flex;
  justify-content: flex-end;
}
.charts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: #007bff;
}

@media (min-width: 600px) {
  .charts-container {
    flex-direction: column;
  }
  .title-container {
    width: 500px;
  }
}
@media (min-width: 1224px) {
  .charts-container {
    flex-direction: row;
  }
  .title-container {
    width: -webkit-fill-available;
  }
}
