.card-container {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 20px;
}

.card-header {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1em;
  color: #333;
  display: flex;
  justify-content: center;
}
